* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
:root {
  --color-ccr: #58164b;
  --color-text: #58164b;
  --color-text2: rgba(255, 255, 255, 1);
  --color-text3: #000;
  --color-input: #58164b;
  --color-bg: rgba(255, 255, 255, 1);
  --body-bg: #f6f6f6;
  --border-color: #666666;
  --sair-bg: #ff0000;
}
[data-theme='dark'] {
  --color-ccr: #f5f9fc;
  --color-text: #2A2A2A;
  --color-text2: #f5f9fc;
  --color-text3: #f5f9fc;
  --color-input: #9da2a6;
  --color-bg: #3c4043;
  --body-bg: #2c2e30;
  --border-color: #3c4043;
  --sair-bg: #a60808;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background: var(--body-bg);
}
header {
  background: var(--color-bg);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--border-color);
}
.name-sistem {
  font-size: 70px;
  color: var(--color-ccr);
  width: 140px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.relogio {
  gap: 10px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 5px 5px 0 0;
  color: var(--color-text3);
}
.nav-master {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
.btnNav {
  margin-top: 50px;
  text-align: center;
  font-size: 90%;
  padding: 8px;
  width: 200px;
  border-radius: 0 14px;
  margin-right: 10px;
  text-decoration: none;
  border: none;
  background: var(--color-text);
  color: var(--color-text2);
}
.btnNav:hover {
  opacity: 0.8;
}
.sair {
  margin-top: 50px;
  text-align: center;
  padding: 8px 20px;
  font-size: 90%;
  border-radius: 0 14px;
  margin-right: 10px;
  text-decoration: none;
  border: none;
  background: var(--sair-bg);
  color: var(--color-text2);
}
.sair:hover {
  opacity: 0.7;
}
main {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
}
.cadastro-consulta {
  background: var(--color-bg);
  border: solid 1px var(--border-color);
  padding: 24px;
  margin-top: 20px;
  width: 600px;
  border-radius: 0 14px;
}
.title-cad {
  margin-bottom: 16px;
  text-align: center;
  color: var(--color-text3);
}
.conteudo-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}
.conteudo-group input::placeholder {
  color: var(--color-text);
}
.conteudo-group input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-input);
}
.conteudo-group input,
select {
  padding: 8px 8px 8px 12px;
  border-radius: 0 14px;
  border: none;
  background-color: #f0f0f0;
}
.group {
  display: flex;
}
.title-group {
  width: 30%;
  font-size: 14px;
  color: var(--color-text3);
}
.section-group {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: 16px;
  color: var(--color-text3);
}
.btn {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 16px;
}
hr {
  border: none;
  width: 100%;
  height: 1px;
  background: var(--body-bg);
  margin: 8px 0;
}
#status-imagem {
  font-size: 10px;
  display: flex;
  justify-content: center;
  color: var(--color-text3);
}
.btn-mais {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  width: 22px;
  height: 22px;
  vertical-align: text-top;
  border-radius: 50%;
  text-decoration: none;
  border: none;
  background: var(--color-text);
  color: var(--color-text2);
}
.button-cad {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  padding: 8px 0;
  width: 100%;
  border-radius: 0 14px;
  text-decoration: none;
  border: none;
  background: var(--color-text);
  color: var(--color-text2);
}
.button-cad:hover,
.btn-mais:hover {
  opacity: 0.8;
}

footer {
  padding-top: 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-top;
  flex-direction: column;
  background: var(--color-bg);
  width: 100%;
  height: 100px;
  color: var(--color-text3);
  border-top: solid 1px var(--border-color);
}
.credit {
  color: var(--color-bg);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
img {
  margin: 3px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.2);
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: var(--color-text);
  color: var(--color-bg);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--color-text) transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.toastTitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}
.toastDescription {
  font-size: 14px;
  font-weight: 400;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='datetime-local'] {
  color: var(--color-text);
}
select {
  color: var(--color-text);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  list-style: none;
}

#btn-mobile {
  display: none;
}

@media (max-width: 670px) {
  .lista a {
    display: block;
    padding: 0.5rem;
  }
  .lista {
    gap: 0.5rem;
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  .nav.active .lista {
    height: calc(100vh - 100px);
    visibility: visible;
    overflow-y: auto;
  }
  .lista a {
    text-decoration: none;
    color: black;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  a:hover {
    text-decoration: bold;
    background: rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  .nav.active #hamburger {
    border-top-color: transparent;
  }
  .nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  .nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media (max-width: 700px) {
  .relogio {
    display: none;
  }
  .title-group {
    display: none;
  }
  .cadastro-consulta {
    position: relative;
    max-width: 290px;
  }
  .title-cad h1 {
    font-size: 22px;
  }
  footer {
    display: none;
  }
}
