* {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  background: #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-transform: uppercase;
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
#card {
  min-width: 40%;
  max-width: 80%;
  padding: 16px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
input,
select {
  width: 100%;
  border-radius: 4px;
  padding: 5px 5px;
  border: 1px solid #333;
  display: block;
}
.control-search {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.button,
#btnImprimir,
#btnFiltrar,
#btnLimpar {
  color: white;
  border: none;
  font-weight: bold;
  background: #008cba;
  padding: 6px;
  border-radius: 4px;
}
.labelConv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#btnConv {
  background: #008cba;
  color: white;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.button:hover,
#btnImprimir:hover,
#btnFiltrar:hover,
#btnLimpar:hover {
  background: #04aa6d;
}
table {
  margin: 6px 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}
td,
th {
  border: 1px solid #d3d3d3;
  padding: 6px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
a {
  padding: 8px;
  min-width: 200px;
  background-color: #008cba;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  border-radius: 4px;
}
a:hover {
  background: #333;
}
#nav {
  display: flex;
  justify-content: center;
}
input[type="file"] {
  display: none;
}
#status-imagem {
  font-size: 10px;
  display: flex;
  justify-content: center;
}
.search {
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-right: 5px;
}
.label-search {
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
}
#btnFiltrar {
  margin-right: 5px;
}
.labelBtn {
  border-radius: 4px;
  padding: 5px 5px;
  border: 1px solid #333;
  text-align: center;
  display: block;
}
.labelBtn:hover {
  background-color: #dcdcdc;
}
@media print {
  .noPrint {
    display: none;
  }
}
