*{
    padding: 2px 3px;
    text-align: center;
}
table {
    margin: 5px 0;
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
}
table,
td,
th {
    border: solid 1px #DDD;
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
}